.heading{

  padding: 10px;
  text-align: center;
}

.contact-info {
  width: 400px;
  margin: 20px;
  padding: 30px  30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.contact-h2{
  text-align: center;
 

}