*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1:hover{
    color:chartreuse
}

#contact {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color:#f0f0f5;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #contact h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  #contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #contact label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  h1{
    text-align: center;
  }
 
  #contact input {
    width: 100%;
    height: 40px;
    color:black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  
 