.heading{

  padding: 10px;
  text-align: center;
}

.contact-info {
  width: 400px;
  margin: 20px;
  padding: 30px  30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.contact-h2{
  text-align: center;
 

}

.form {
  width:600px;
  margin: 10px;
  padding: 10px  20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display:flex;
  
}
.form-h2{
  text-align: left;
  padding:130px  50px ;

}

label{
  display: block;
  margin-bottom: 10px;
}

.in-name{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.in-email{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.in-msg{
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}