*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.plant-card{
    margin-left: 48px;
    height: 422px;
    width: 240px;
    background-color:white;
    border: 1px solid rgb(4, 34, 4);
    box-shadow: -5px 5px 10px 1px black;
    border-radius: 0px 0px 0px 29px;
    display:inline-block;
    margin-top:30px;
    margin-bottom: 30px;
}
.plant-card:hover{
    transform: translateY(-5px);
    transition: 0.5s;
    box-shadow: 0 8px 16px black;}

.plant-img{
    width: 207px;
    height: 200px;
    margin: 10px;
    margin-left: 16px;
    border-radius:12px;
    border: 2px solid black;
}

.plant-img:hover{
    box-shadow: 0px 0px 10px 0px  rgb(111, 116, 116);
}

.text-centre{
    text-align: center;
}

.plant-name{
    color: rgb(10, 58, 10);
    margin-bottom: 8px;
}

.description{
    margin:2px;
    margin-top: 10px;
    color: rgb(16, 103, 16);
    font-weight: normal;
}

.buy-now-btn{
    text-decoration: none;
    background-color:rgb(44, 119, 44);
    color: white;
    height:40px;
    width: 200px;
    margin-top: 13px;
    font-size: 20px;
    border: 0px solid rgb(16, 64, 16);
    cursor: pointer;
}

.buy-now-btn:hover{
    border: 3px solid rgb(17, 72, 17);
    box-shadow: 0px 0px 10px 2px ;
    transition: 0.3s;
    border-radius: 5px;
}

.rate{
    color: grey;
}

.card{
    display: flex;
    justify-content: space-around;
}

.brief-description{
    color:  rgb(80, 17, 67);
}

.description{
    
}

.name{
    color:  rgb(80, 17, 67);
}
.page-switch-btn{
    height: 30px;
    width: 35px;
}
.page-switch{
    text-align: center;
    margin-top: 50px;
}



