.plant-card{
    margin-left: 30px;
    height: 500px;
    width: 250px;
    background-color:white;
    border: 1px solid rgb(4, 34, 4);
    box-shadow: 3px 7px 10px 5px rgb(51, 50, 50);
    border-radius: 1px 2px 3px 25px;
}
.croton-img{
    width: 225px;
    height: 200px;
    margin: 10px;
    margin-left: 12px;
    
}
.text-centre{
    text-align: center;
}
.plant-name{
    color: rgb(4, 46, 4);
}
.plant-decription{
    margin:7px;
    margin-top: 10px;
    color: rgb(11, 70, 11);


}
.price{
    margin-bottom: 7px;
    
    color: rgb(14, 70, 14);
}
.text-highlite{
    background-color:rgb(155, 194, 155) ;
}
.buy-now-btn{
    text-decoration: none;
    background-color:rgb(100, 17, 85);
    color: white;
    height:40px;
    width: 200px;
    margin-top: 5px;
    font-size: 20px;
    border: 0px solid rgb(4, 34, 4);
    border-radius:  0px 0px 0px 10px;
   
}
.buy-now-btn:hover{
    border: 2px solid rgb(20, 150, 20);
    box-shadow: 0px 0px 10px 2px  rgb(65, 141, 65);
    transition: 0.3s;
    border-radius: 5px;
}
.card-container{
    display: flex;
    
}
.croton-plant-description {
    margin:  70px 25px;
}
.top-plant-description{
    color: rgb(100, 17, 85);
}