.Fertilizers-card{
    margin-left: 48px;
    height: 420px;
    width: 240px;
    background-color:white;
    border: 1px solid rgb(4, 34, 4);
    box-shadow: 2px 3px 6px 3px #808080;
    border-radius: 0px 0px 0px 29px;
    display:inline-block;
    margin-top:30px;
    margin-bottom: 30px;
}
.Seeds-img{
    width: 207px;
    height: 200px;
    margin: 10px;
    margin-left: 16px;
    border-radius:14px;
    border: 2px solid black;
}
.text-centre1{
    text-align: center;
    margin-top: 5px;
}
.Ferti-name{
    color: rgb(10, 58, 10);
}
.decription{
    margin:2px;
    margin-top: 10px;
    color: rgb(16, 103, 16);
}
.buy-now-btn{
    text-decoration: none;
    background-color:rgb(44, 119, 44);
    color: white;
    height:40px;
    width: 200px;
    margin-top: 15px;
    font-size: 20px;
    border: 0px solid rgb(16, 64, 16);
    cursor: pointer;
}
.buy-now-btn:hover{
    border: 3px solid rgb(30, 54, 30);
    box-shadow: 0px 0px 10px 2px ;
    transition: 0.3s;
    border-radius: 5px;
}
.Fertilizers-card:hover{
    transition: 0.5s;
    box-shadow: 2px 3px 6px 2px black;
    background-color:rgb(188, 237, 188);
}
.rate{
    color: grey;
}
.heading2{
    text-align: center;
    margin: 7px;
    margin-top: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkolivegreen;
}