*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product-section{
    
   margin-top: 20px;
   margin-left: 20px;
    width: 97%;
    height: 100vh;


}
.product-poster-sale{
    padding: 30px;
    border: 9px double grey;
    
}
.product-heading{
    
    padding: 10px;
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    font-family: "Marck Script", cursive;
   }
   .card-main-box{
    
