*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.product-section{
    
   margin-top: 20px;
   margin-left: 20px;
    width: 97%;
    height: 100vh;


}
.product-poster-sale{
    padding: 30px;
    border: 9px double grey;
    
}
.product-heading{
    padding: 10px;
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    font-family: "Marck Script", cursive;
   }
.trending-img{
    border-radius: 50%;
}

.card:hover {
    transform: translateY(-5px); /* Move the card up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);}

