*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image:url(./img/background.webp );
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.navbar{
    height: 80px;
    background-color:white;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.icon i{
    font-size: 23px;
    padding: 0px 10px;
    cursor: pointer;
}
.icon i:hover{
  color: rgb(75, 178, 75);
  transition: 0.3s;
}
.search-bar{
    border: 1px solid gray;
    height: 30px;
    width: 350px;
}
.search-button{
    border: black;
    border: none;
    border-radius: 20px;

}
.search-button i{
    width: 100px;
    padding: 8px;
    background-color: rgb(75, 178, 75) ;
   
}
.heading{
    text-align: center;
    font-size: 50px;
    color: rgb(29, 120, 53);
   
}
.Vrindavan{
    font-weight: normal;
    font-family: "Marck Script", cursive;
}
.menu{
    color: white;
    
    text-align: end;
}
.menu a{
    color: white;
    
    padding:40px 20px;
    font-size: 20px;
    text-decoration:  none;
    
    cursor: pointer;
    font-weight: bold;
}
.menu a:hover{
    color: rgb(79, 203, 79);
    transition: 0.3s;
}
.tagline{
   
    width: 50%;
    color: white;
}

.tagline h1{
    background-color: rgb(18, 20, 20);
    opacity: 0.7;
    text-align: start;
    margin-top: 240px;
 font-size: 60px;
 padding: 10px;
 font-family: "Marck Script", cursive;
}

.tagline p{
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(18, 20, 20);
    opacity: 0.7;
    padding: 10px;
}
