*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-header{
  width: 100%;
  height: 100vh;
}

.navbar{
  width: 70px;
  color: white;
  width: 100%;
  background-color: rgb(29, 120, 53);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  margin-left: 20px;
  display: flex;
}

.icon i{
    margin-left: 10px;
    font-size: 23px;
    padding:  7px 5px;
    cursor: pointer;
    color: white;
}

.icon i:hover{
  border-radius: 5px;
  background-color: white;
  color: rgb(75, 178, 75);
  transition: 0.5s;
}

.leaf{
  font-size: 50px;
}

.heading{
    color: white;
    text-align: center;
    font-size: 50px;
    color: rgb(29, 120, 53);
    display: flex;
}

.Vrindavan{
    color: white;
    font-size: 50px;
    font-weight: normal;
    font-family: "Marck Script", cursive;
}

.vihar{
  font-size: 50px;
}

.menu{
    color: white;
   
    text-align: end;
    display: flex;
    align-items: center;
}

.menu a{
    color: white;
    padding: 10px 20px;
    text-decoration:  none;
    cursor: pointer;
    font-weight: bold;
}

.menu a:hover{
  border-radius: 25px;
  background-color: white;
  color: rgb(79, 203, 79);
  transition: 0.5s;
}

.menu-item{
  font-size: 20px;
}

/* header section start */

.main-heading{
    display: flex;
    justify-content: space-evenly;
    
}
.tagline{
   color: black;
    width: 50%;
    margin-right: 20px;
  }

.tagline span{
  font-size: 40px;
  color: green;
}

.tagline h1{
color: #ff9900;
text-align: start;
margin-top: 100px;
font-size: 50px;
padding: 10px;
font-weight: normal;
font-family: "Marck Script", cursive;
}

.tagline p{
    color: black;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    padding: 10px;
}
.tagline-button{
  margin-top: 30px;
  background-color:  #4CAF50;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
.go-top{
  position:fixed;
  bottom:0;
  right: 0;
  height: 40px;
  margin: 10px;
 }


/* header section khatam huaaa*/

/*category section start huaa*/

.main-cantain{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
 }
 

.cantain-heading{
    margin-top: 50px;
    font-size: 40px;
    font-family: "Marck Script", cursive;
    font-weight: normal;

}

.main-cantain-para{
    font-size: 20px;
    text-align: start;
    text-align: justify;
}


/*categroy img */
.main-cantain-img{
  
  width: 100%;
  display: inline;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 30px;
}





.side-img{
   padding: 20px;
    height: 400px;
     width: 700px;
     border-radius: 20px;
     margin-bottom: 30px;
     
}
.side-img:hover{
  border-radius: 60px;
  transition: 0.3s;
}






.img-heading{
   margin-top: 100px;
}

.categroy-cantainer{
  
display: flex;
flex-wrap: wrap;
padding: 80px;
margin-left: 160px;
}

.secound-img{
  margin-left: 30px;
  border-radius: 10px;
  padding: 10px;
  
}

.secound-img:hover{
  transform: translateY(-5px);
  transition: 0.5s;

}
 

.img-name{
  padding: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  
}

.side-img{
  margin-top: 30px;
  margin-left: 40px;
  
  height: 400px;
   width: 600px;
   border-radius: 20px;
   
   
   
}




/* home feature*/
.home-feature{
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 30px 0px;
  margin-bottom: 20px;
 
}
.home-feature-heading{
  
  font-size: 40px;
 font-weight: bold;
 margin-top: 40px;
 color: green;
}
.feature1{
  padding: 20px;
  width: 170px;
  height: 170px;
  background-color:rgba(232, 238, 232, 0.66);
  border-radius: 10px;
  
  
}

/* media query */

footer {
    width: 100%;
    background-color: rgb(29, 120, 53);
    color: white;
    text-align: center;
    padding: 20px 0;
  }
 
  .footer-content h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
  }
  
  .footer-content p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .socials {
    list-style: none;
    padding: 0;
  }
  
  .socials li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .socials li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer-bottom p {
    margin: 0;
  }

  /*box shahdo used for webside*/
  .box-shadow{
    box-shadow: 0 0 10px rgba(18, 18, 18, 0.1);
  }

  .box-shadow1{
     box-shadow:2px 2px 10px 2px   #ccc;
  }



/* Mobile device */
@media screen and (max-width: 500px) {
  .Vrindavan{
    font-size: 30px;
  }

  .menu-item{
    font-size: 15px;
  }

  .icon{
    margin-left: 2px;
    flex-direction: column;
  }

  .icon i{
    margin-left: 2px;
    font-size: 13px;
    padding:  4px 3px;
  }

  .leaf{
    font-size: 30px;
  }

  .vihar{
    font-size: 40px;
  }

  .menu{
    color: white;
    text-align: start;
    display: flex;
  }

  .menu a{
      padding: 5px 7px;
  }

  .menu a:hover{
    border-radius: 20px;
  }
  /*feature*/
  .home-feature{
   
    width: 50%;
    
  }
  .home-feature-heading{
    font-size: 30px;
    margin-bottom: 20px;
    
  }
  .feature1{
    margin-bottom: 30px;
  }

  
  /*footer for small device*/
  footer{
    width: 80%;
  }
  
}


/* Tablet device */
@media screen and (min-width: 501px) and (max-width: 768px) {
  
}


/* Desktop device */
@media screen and (min-width: 769px) {
  
}
